/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=13C0c0k++GIvdZKSW+V+Wt1+bmH */

/* Feel free to copy&paste color codes to your application */


/* As hex codes */

.color-primary-0 { color: #005BC7 } /* Main Primary color */
.color-primary-1 { color: #1A81FC }
.color-primary-2 { color: #0577FF }
.color-primary-3 { color: #004597 }
.color-primary-4 { color: #003676 }


#menu-bar {
  background-color: #d83c3c;
}

#cy {
  height: 600px;
  width: 800px;
  float: center;
  position: relative;
  top: 5px;
  left: 200px;
  border: 1px solid #aaa;
  border-radius:5px;
  -webkit-border-radius:5px;
  padding: 0px;
  display: block;
  z-index: 1;
  overflow:scroll; 
  }

#major-input {
  position: relative;
  float: top;
  top: 15px;
}  

#wrap-content {
  background-color: #005BC7
}

.customButtons{
  font-family: Verdana, Arial, Times New Roman;
  font-size:18px;
  }

#toolbar {
   padding: 4px;
   width: 50%;
   text-align: center;
  }

.ui-autocomplete { max-height: 45%; overflow-y: scroll; overflow-x: hidden; }
